
a.link-image {
    display: inline;
    margin: 5px 10px;
    vertical-align: middle;
}

a.link-image img.icon,
a.link-image span.desc {
    vertical-align: middle;
    margin: 5px 5px;
    display: inline-block;
}

