/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    display: block;
    margin: 0px;
    font-family: "Open Sans";
}

.content {
    margin: 8px;
    min-height: 500px;
}

